
<nav class="navbar navbar-expand-md navbar-dark bg-dark">

    <a class="navbar-brand" href="/">Home</a>
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
  
      <span class="navbar-toggler-icon"></span>
  
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
  
      <ul class="navbar-nav mr-auto">
  
        <li class="nav-item">
  
          <a class="nav-link" (click)="goToSignIn()">Sign-In</a>
  
        </li>
  
      </ul>
  
    </div>
  
  </nav>

<div class="image"></div>

<div class="loginBox">
   <img class="user" src="https://img.icons8.com/bubbles/2x/administrator-male.png">
   <h2>S2P</h2>
   <form>
     <p>Email</p>
    
     <i class="fa fa-user fa-2x cust" aria-hidden="true"></i>
     <input type="text" name="email" placeholder="Enter Email">
    
     
     <p>Password</p>
     
     <i class="fa fa-lock fa-2x cust" aria-hidden="true"></i>
     <input type="password" name="password" placeholder="Enter Password" >
 <!--<input type="submit" routerlink="/student" type="submit">-->
      <div class="text-center">
    <input type="button" value="Log-In" routerLink="/student" class="btn btn-warning" style="border-radius: 20px; width: 40%; background-color:#ff8c00;">
    </div>
    
     
    
     <div class="container">
         <a class="alignright" routerLink="/signup">New User</a>
         <a class=" alignleft" routerLink="/forgotpwd">Forget Password ?</a>
     </div>
   </form>
 </div>
 
 